form h1 {
    font-size: 2.3vw;
}
section {
    height: 35vw;
}
.logo-ifrs {
    width: 18vw;
    height: 25vw;
    margin-top: 0vw;
    background-image: url("../../images/ifrs.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
form {
    padding-left: 0;
    padding-right: 2vw;
}
.flex-buttons .buttons {
    width: 76%;
}
@media (max-width: 1400px) {
    form h1 {
        font-size: 4.5vh !important;
        margin: 0;
    }
}
@media (max-width: 960px) {
    section{
        width: 85% !important;
        justify-content: normal !important;
        padding-top: 5vh !important;
    }
    form h1 {
        font-size: 4.5vh !important;
        margin: 0;
    }
}