section#home {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
}

section#home h2 {
    margin-bottom: 2vw;
    font-size: 1.3vw;
}
section#home article {
    font-family: 'Montserrat', sans-serif;
}
section#home div.page {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5vh 4vw;
}
section#home article {
    height: 100%;
}
section#home article#main-content {
    width: 60%;
    margin-top: 1vw;
    margin-left: 4vw;
}
section#home article#main-content .title {
    display: flex;
    justify-content: space-between;
}
section#home article#main-content .title .text h1 {
    font-size: 1.6vw;
    font-weight: 700;
}
section#home article#main-content .title .text p {
    color: #737373;
    font-weight: 600;
    margin-top: 0.4vw;
    font-size: 0.9vw;
}
section#home article#main-content .title .button button {
    background-color: black;
    color: white;
    float: right;
    font-size: 1.3vw;
    border-radius: 100%;
    width: 2.3vw;
    height: 2.3vw;
    margin-right: 7vw;
}
article#main-content .calendar-div {
    display: none;
}
section#home article#main-content .events, article#main-content .files, article#main-content .calendar-div {
    margin-top: 3vw;
}
section#home article#main-content .events .events-slider {
    height: 7.5vw;
    display: flex;
    gap: 1vw;
    width: calc(100%);
}
section#home article#main-content .events .events-slider .event {
    background: linear-gradient(#bed8f69e, #c2d9f358);
    width: 38%;
    height: 100%;
    border-radius: 15px;
    padding: 1.3vw 1.3vw;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 3px solid rgb(192, 215, 242) */
}
section#home article#main-content .events .events-slider .event .desc {
    font-size: 0.7vw;
    color: #6c6c6c;
    font-weight: 600;
}
section#home article#main-content .events .events-slider .event .name {
    font-size: 0.9vw;
    margin-top: 0.2vw;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
section#home article#main-content .events .events-slider .event .date {
    font-size: 1.3vw;
    margin-top: 0.8vw;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
section#home article#main-content .files h2 {
    margin-bottom: 2.5vw;
}
section#home article#main-content .files .files-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30vw;
    row-gap: 2.5vw;
}
section#home article#main-content .files .files-box .file {
    width: 50%;
    height: 2.5vw;
    display: flex;
    font-weight: 600;
    gap: 1vw;
}
section#home article#main-content .files .files-box .file:nth-child(even){
    justify-content: end;
}
section#home article#main-content .files .files-box .file .desc .date {
    font-size: 0.65vw;
    color: #737373;
}
section#home article#main-content .files .files-box .file .desc .title {
    max-width: 3vw;
    flex-wrap: wrap;
    font-size: 0.7vw;
}
section#home article#main-content .files .files-box .file svg {
    height: 100%;
}
section#home article#secondary-content {
    padding: 4vw 0;
}
section#home article#secondary-content h2 {
    margin-left: 0.65vw;
    font-size: 1.4vw;
}
section#home article#secondary-content .calendar {
    margin-top: 2.5vw;
}
@media (orientation: portrait) {
    section#home article#main-content {
        margin: 0 !important;
    }
    section#home article#main-content .events, article#main-content .files, article#main-content .calendar-div {
        margin-top: 5vh;
    }
    section#home article#main-content .title .text h1 {
        font-size: 2.7vh;
    }
    section#home article#main-content .title .text p {
        font-size: 1.6vh;
    }
    section#home article#main-content h2 {
        font-size: 2.2vh;
    }
    section#home article#main-content .events .events-slider {
        height: 13vh;
        padding: 2% 0;
        gap: 3vw;
    }
    section#home article#main-content .events .events-slider .event {
        width: 100%;
        padding: 2vh;
    }
    section#home article#main-content .events .events-slider .event .desc {
        font-size: 1.4vh;
    }
    section#home article#main-content .events .events-slider .event .name {
        font-size: 1.8vh;
    }
    section#home article#main-content .events .events-slider .event .date {
        font-size: 2.4vh;
    }
    section#home article#main-content .calendar .arrows button {
        height: 3vh;
        width: 6vw;
        font-size: 2vw;
    }
    section#home article#main-content .files .files-box {
        width: 100%;
    }
    section#home article#main-content .files .files-box .file {
        height: 3.5vh;
    }
    section#home article#main-content .files .files-box .file:nth-child(2n) {
        justify-content: start;
    }
    section#home article#main-content .files .files-box .file .desc .date {
        font-size: 1.3vh;
        max-width: max-content;
    }
    section#home article#main-content .files .files-box .file .desc .title {
        font-size: 1.4vh;
        max-width: max-content;
    }
    section#home article#main-content .calendar-div {
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section#home article#main-content .calendar-div .calendar .head .mes-ano {
        font-size: 1.6vh;
    }
    section#home article#main-content .calendar-div h2 {
        width: 100%;
    }
    section#home article#main-content .calendar-div .calendar {
        width: 100%;
    }
    section#home article#main-content .calendar-div .calendar .datas div {
        font-size: 1.2vh;
    }
    section#home article#main-content .calendar-div .calendar .dia {
        height: 4.5vh;
        border-left: 0.6vw solid white;
        border-right: 0.6vw solid white;
        border-radius: 8px;
    }
    section#home article#main-content .calendar-div .calendar .head {
        padding-left: 0;
    }
    section#home article#secondary-content {
        display: none;
    }
    section#home article#main-content {
        width: 100%;
    }
    section#home .calendar .datas .header p {
        font-size: 1vh;
    }
    section#home article#main-content .files h2 {
        margin-bottom: 3vh;
    }
}