<section id="arquivos">
    <div class="title">
        <div class="text">
            <h1>Arquivos</h1>
        </div>
        <div class="button-new">
            <button class="novo button">Novo Arquivo</button>
        </div>
    </div>
    <div class="filters">
        <div class="search-box button">
            <div id="search-by">
                <select>
                    <option value="nome">Nome</option>
                    <option value="data-admissao">Data de Upload</option>
                </select>
            </div>
            <input type="text" name="search" id="search" placeholder="Buscar">
            <button>
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        <div class="sort">
            <label for="sortby">Ordenar por</label>
            <select name="orderBy" id="orderBy" class="button">
                <option value="nome">Nome</option>
                <option value="nome">Tipo</option>
                <option value="nome">Tamanho</option>
                <option value="data-admissao">Data de Upload</option>
            </select>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <td>Nome do Arquivo</td>
                <td>Tipo</td>
                <td>Tamanho total</td>
                <td>Ultima Atualização</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <i class='bx bxs-file-pdf'></i>
                    Documentação.pdf
                </td>
                <td>PDF</td>
                <td>12Mb</td>
                <td>08 de Ago. 2023</td>
            </tr>
            <tr>
                <td>
                    <i class='bx bxs-file'></i>
                    Teste.docx
                </td>
                <td>DOCX</td>
                <td>14Mb</td>
                <td>06 de Ago. 2023</td>
            </tr>
            <tr>
                <td>
                    <i class='bx bxs-file icon-planilha'></i>
                    Documentação.xls
                </td>
                <td>XLS</td>
                <td>21Mb</td>
                <td>09 de Ago. 2023</td>
            </tr>
            <tr>
                <td>
                    <i class='bx bxs-file'></i>
                    Teste.docx
                </td>
                <td>DOCX</td>
                <td>14Mb</td>
                <td>06 de Ago. 2023</td>
            </tr>
            <tr>
                <td>
                    <i class='bx bxs-file'></i>
                    Teste.docx
                </td>
                <td>DOCX</td>
                <td>14Mb</td>
                <td>06 de Ago. 2023</td>
            </tr>

        </tbody>
    </table>
</section>