<section id="home">
    <article id="main-content">
        <div class="title">
            <div class="text">
                <h1>Olá, Mikael!</h1>
                <p>01 de Agosto de 2023</p>
            </div>
            <div class="button">
                <button class="new">+</button>
            </div>
        </div>
        <div class="events">
            <h2>Próximos Eventos</h2>
            <div class="events-slider">
                <div class="event">
                    <p class="desc">Renovação de Contrato</p>
                    <p class="name">Neymar da Silva Júnior</p>
                    <p class="date">28/07</p>
                </div>
                <div class="event">
                    <p class="name">Tomar Café</p>
                    <p class="date">02/08</p>
                </div>
            </div>
        </div>
        <div class="files">
            <h2>Arquivos Recentes</h2>
            <div class="files-box">
                <div class="file">
                    <file-icon></file-icon>
                    <div class="desc">
                        <p class="date">02, Ago</p>
                        <p class="title">Documentação de Teste</p>
                    </div>
                </div>
                <div class="file">
                    <file-icon></file-icon>
                    <div class="desc">
                        <p class="date">02, Ago</p>
                        <p class="title">Documentação de Teste</p>
                    </div>
                </div>
                <div class="file">
                    <file-icon></file-icon>
                    <div class="desc">
                        <p class="date">02, Ago</p>
                        <p class="title">Documentação de Teste</p>
                    </div>
                </div>
                <div class="file">
                    <file-icon></file-icon>
                    <div class="desc">
                        <p class="date">02, Ago</p>
                        <p class="title">Documentação de Teste</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article id="secondary-content">
        <h2>Calendário</h2>
        <calendar-home></calendar-home>
        <div class="toggle">
            <div class="toggle-switch">
                <input type="checkbox" id="switch" />
                <label for="switch"></label>
            </div>
        </div>
    </article>
</section>