<div id="app">
    <content id="body-page">
        <div class="page">
            <router-view></router-view>
        </div>
    </content>
    <navbar></navbar>
    <div class="notifications-box">
        <div class="top">
            <button class="btn-close" onclick="App.closeModal(this)">⨉</button>
        </div>
        <div class="noti">
            <p>Um e-mail foi enviado para você referente à renovação de contrato</p>
        </div>
        <div class="noti">
            <p class="none">Nenhuma notificação não lida</p>
        </div>
    </div>
</div>