<div id="app">
    <content id="body-page">
        <div class="page">
            <router-view></router-view>
        </div>
    </content>
    <navbar></navbar>
    <div class="notifications-box" v-if="dados.tipo == 'servidor'">
        <div class="top">
            <button class="btn-close" onclick="App.openCloseNotification()">⨉</button>
        </div>
        <div class="noti" v-if="dados.notifications.length > 0">
            <p v-for="(noti) in dados.notifications" v-html="noti.texto"></p>
        </div>
        <div class="noti" v-else>
            <p class="none">Nenhuma notificação</p>
        </div>
    </div>
</div>