<section id="registros">
    <div class="title">
        <div class="text">
            <h1>Registros de Envios</h1>
        </div>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <td style="text-align: center;">#</td>
                    <td>Descrição</td>
                    <td>Destinatário</td>
                    <td>Data de Envio</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align: center;">1</td>
                    <td>Envio de Arquivos para Colheita de Assinatura de Renovação</td>
                    <td>Mikael Fernandes Moreira (mikaelfernandes@gmail.com)</td>
                    <td>24/05/2023 - 16h20</td>
                </tr>
                <tr>
                    <td style="text-align: center;">1</td>
                    <td>Envio de Arquivos para Colheita de Assinatura de Renovação</td>
                    <td>Mikael Fernandes Moreira (mikaelfernandes@gmail.com)</td>
                    <td>24/05/2023 - 16h20</td>
                </tr>
                <tr>
                    <td style="text-align: center;">1</td>
                    <td>Envio de Arquivos para Colheita de Assinatura de Renovação</td>
                    <td>Mikael Fernandes Moreira (mikaelfernandes@gmail.com)</td>
                    <td>24/05/2023 - 16h20</td>
                </tr>
                <tr>
                    <td style="text-align: center;">1</td>
                    <td>Envio de Arquivos para Colheita de Assinatura de Renovação</td>
                    <td>Mikael Fernandes Moreira (mikaelfernandes@gmail.com)</td>
                    <td>24/05/2023 - 16h20</td>
                </tr>
                <tr>
                    <td style="text-align: center;">1</td>
                    <td>Envio de Arquivos para Colheita de Assinatura de Renovação</td>
                    <td>Mikael Fernandes Moreira (mikaelfernandes@gmail.com)</td>
                    <td>24/05/2023 - 16h20</td>
                </tr>
                <tr>
                    <td style="text-align: center;">1</td>
                    <td>Envio de Arquivos para Colheita de Assinatura de Renovação</td>
                    <td>Mikael Fernandes Moreira (mikaelfernandes@gmail.com)</td>
                    <td>24/05/2023 - 16h20</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>