<section id="registros">
    <div class="title">
        <div class="text">
            <h1>Registros de Envios</h1>
        </div>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <td style="text-align: center;">#</td>
                    <td>Descrição</td>
                    <td>Destinatário</td>
                    <td>Data de Envio</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(registro, key) in this.$root.dados.registros">
                    <td style="text-align: center;">{{key + 1}}</td>
                    <td>{{registro.descricao}}</td>
                    <td>{{registro.nome}} ({{registro.email}})</td>
                    <td>{{$root.formatarDataHora(registro.data_envio, 'DD/MM/YYYY HhM')}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>