<section id="servidores">
    <div class="title">
        <div class="text">
            <h1>Servidores</h1>
        </div>
        <div class="button-new">
            <button class="novo button" @click="$root.formServidores()">Novo Funcionário</button>
        </div>
    </div>
    <div class="filters">
        <div class="search-box button">
            <input type="text" name="search" id="search" placeholder="Buscar" v-model="$root.filterServidores.search">
<!--            <button>-->
<!--                <p class="fa-solid fa-magnifying-glass"></p>-->
<!--            </button>-->
        </div>
        <div class="sort">
            <label for="sortby">Ordenar por</label>
            <select name="orderBy" id="orderBy" class="button" v-model="$root.filterServidores.orderBy">
                <option value="nome">Nome</option>
                <option value="cargo">Cargo</option>
                <option value="data_admissao|date">Data de Admissão</option>
            </select>
        </div>
    </div>
    <div class="pessoas">
        <div class="card" v-for="(servidor) in this.$root.servidoresFiltrados">
            <button class="options" @click="$root.openMenuEditServidores">
                <svg viewBox="0 0 20 20" focusable="false" width="1vw" height="1vw">
                    <path d="M10 6c.82 0 1.5-.68 1.5-1.5S10.82 3 10 3s-1.5.67-1.5 1.5S9.18 6 10 6zm0 5.5c.82 0 1.5-.68 1.5-1.5s-.68-1.5-1.5-1.5-1.5.68-1.5 1.5.68 1.5 1.5 1.5zm0 5.5c.82 0 1.5-.67 1.5-1.5 0-.82-.68-1.5-1.5-1.5s-1.5.68-1.5 1.5c0 .83.68 1.5 1.5 1.5z"></path>
                </svg>
            </button>
            <div class="img-container">
            </div>
            <h3>{{servidor.nome}}</h3>
            <p class="cargo">{{servidor.cargo}}</p>
            <p class="data-admissao">Data de Amissão: {{$root.formatarDataHora(servidor.data_admissao,
                'DD/MM/YYYY')}}</p>
            <div class="edit-content hidden">
                <button class="action" @click="$root.formServidores(servidor.id)">Editar</button>
                <button class="action" @click="$root.deleteFuncionario(servidor.id)">Excluir</button>
            </div>
        </div>
    </div>
</section>