<section id="servidores">
    <div class="title">
        <div class="text">
            <h1>Servidores</h1>
        </div>
        <div class="button-new">
            <button class="novo button">Novo Funcionário</button>
        </div>
    </div>
    <div class="filters">
        <div class="search-box button">
            <div id="search-by">
                <select>
                    <option value="nome">Nome</option>
                    <option value="nome">Cargo</option>
                    <option value="data-admissao">Data de Admissão</option>
                </select>
            </div>
            <input type="text" name="search" id="search" placeholder="Buscar">
            <button>
                <p class="fa-solid fa-magnifying-glass"></p>
            </button>
        </div>
        <div class="sort">
            <label for="sortby">Ordenar por</label>
            <select name="orderBy" id="orderBy" class="button">
                <option value="nome">Nome</option>
                <option value="nome">Cargo</option>
                <option value="data-admissao">Data de Admissão</option>
            </select>
        </div>
    </div>
    <div class="pessoas">
        <div class="card">
            <div class="img-container">
                <img src="profile-img-1.png" />
            </div>
            <h3>Mikael Fernandes Moreira</h3>
            <p class="cargo">Fundador</p>
            <p class="data-admissao">Data de Amissão: 20/08/2004</p>
        </div>
        <div class="card">
            <div class="img-container">
                <img src="profile-img-1.png" />
            </div>
            <h3>Mikael Fernandes Moreira</h3>
            <p class="cargo">Fundador</p>
            <p class="data-admissao">Data de Amissão: 20/08/2004</p>
        </div>
        <div class="card">
            <div class="img-container">
                <img src="profile-img-1.png" />
            </div>
            <h3>Mikael Fernandes Moreira</h3>
            <p class="cargo">Fundador</p>
            <p class="data-admissao">Data de Amissão: 20/08/2004</p>
        </div>
        <div class="card">
            <div class="img-container">
                <img src="profile-img-1.png" />
            </div>
            <h3>Mikael Fernandes Moreira</h3>
            <p class="cargo">Fundador</p>
            <p class="data-admissao">Data de Amissão: 20/08/2004</p>
        </div>
    </div>
</section>