<form id="formServidores" @submit="salvar">
    <div class="control">
        <input
                type="text"
                name="nome"
                class="input"
                placeholder=""
                v-model="nome"
                maxlength="85"
        >
        <label
                class="label-input"
        >
            Nome
        </label>

    </div>
    <div class="control">
        <input
                type="email"
                name="email"
                class="input"
                placeholder=""
                v-model="email"
                maxlength="256"
                :disabled="confirmed"
                :class="{'disabled' : confirmed}"
        >
        <label
                class="label-input"
        >
            E-mail
        </label>
    </div>
    <div class="control control-duple">
        <div class="control">
            <input
                    type="tel"
                    name="telefone"
                    class="input format-number"
                    placeholder=""
                    v-model="telefone"
                    v-mask="'(##) #####-####'"
            >
            <label
                    class="label-input"
            >
                Telefone
            </label>
        </div>
        <div class="control">
            <input
                    id="cpf"
                    type="cpf"
                    name="cpf"
                    class="input format-cpf"
                    placeholder=""
                    v-model="cpf"
                    v-mask="'###.###.###-##'"
                    :disabled="confirmed"
                    :class="{'disabled' : confirmed}"
            >
            <label
                    class="label-input"
            >
                CPF
            </label>
        </div>
    </div>
    <div class="control control-duple">
        <div class="control">
            <input
                    type="date"
                    name="dataAdmissao"
                    class="input"
                    placeholder=""
                    v-model="dataAdmissao"
                    :class="{'disabled' : inEdit}"
                    :disabled="inEdit"
            >
            <label
                    class="label-input"
            >
                Data de Admissão
            </label>
        </div>
        <div class="control">
            <select v-model="tipo" class="input" :disabled="inEdit" :class="{'disabled' : inEdit}">
                <option value="" class="disabled" disabled>Tipo</option>
                <option v-for="(tipo) in tipoServidores" :value="tipo.id">{{tipo.descricao}}</option>
            </select>
        </div>
    </div>
    <div class="control">
        <input
            type="text"
            name="cargo"
            class="input"
            placeholder=""
            v-model="cargo"
            maxlength="40"
        >
        <label
                class="label-input"
        >
            Cargo
        </label>
    </div>
    <div class="error control" style="height: 2vw" v-if="msgError != ''">
        <p>{{msgError}}</p>
    </div>
    <div class="control">
        <input class="input" type="submit" value="Confirmar" :disabled="!canSubmit">
    </div>
</form>