<form method="post" action="corrigirEmail">
    <h1>Digite seu E-mail</h1>
    <p></p>
    <div class="control">
        <input
            type="hidden"
            name="oldEmail"
            value="{{oldEmail}}"
        >
        <input
            type="email"
            name="newEmail"
            id="email"
            class="input"
            placeholder=""
        >
        <label
            for="email"
            class="label-input"
         >
            E-mail
        </label>
    </div>
    <div class="control">
        <input type="submit" value="Confirmar">
    </div>
</form>
</section>
<script>
    $('#email').focus()
</script>