<section id="new-password">
    <form method="post" action="/saveNewPass">
        <h1>Redefinir Senha</h1>
        <div class="control">
            <input
                type="hidden"
                name="token"
                value="[[token]]"
            >
            <input
                type="password"
                name="password"
                id="password"
                class="input"
                placeholder=""
            >
            <label
                for="password"
                class="label-input"
             >
                Nova Senha
            </label>
        </div>
        <div class="control">
            <input
                type="password-confirm"
                name="password-confirm"
                id="password-confirm"
                class="input"
                placeholder=""
            >
            <label
                for="password"
                class="label-input"
             >
                Confirmar Senha
            </label>
        </div>
        <div class="control">
            <input type="submit" value="Confirmar">
        </div>
    </form>
</section>
<script>
    $('#password').focus()
</script>