<section id="recovery" @submit="submit">
    <form method="post" v-if="!sented">
        <h1>Recuperação de Conta</h1>
        <p>Você receberá um e-mail para redefinir a senha</p>
        <div class="control">
            <input
                type="email"
                name="email"
                id="email"
                class="input"
                placeholder=""
                v-model="email"
            >
            <label
                for="email"
                class="label-input"
             >
                E-mail
            </label>
        </div>
        <p class="error" v-if="notExists">Nenhuma conta com este e-mail foi encontrada</p>
        <div class="control flex-buttons">
            <input type="submit" class="cancel" value="Cancelar">
            <input
                type="submit"
                :value="!buttonDisabled ? 'Confirmar' : 'Enviando, aguarde'"
                :class="['input', 'button', { 'disabled': buttonDisabled }]"
                :disabled="buttonDisabled"
            >
        </div>
    </form>
    <div v-else>
        <i class="fa-solid fa-envelope-open-text"></i>
        <h1>Verifique sua Caixa de Entrada</h1>
        <p>Enviamos um link de recuperação para você.<br> Por favor, verifique seu e-mail</p>
        <button onclick="window.location.href = '/login'">OK</button>
    </div>
</section>
[% if token == 'expirado':%]
    <div class="alert" role="alert">
        Token expirado, por favor, repita o processo
    </div>
[% endif %]
<script>
    $('#email').focus()
</script>