 <section id="return_token">
    <form onsubmit="event.preventDefault()">
        [% if response == "invalid": %]
            <h1>Token Inválido</h1>
            <p>O token solicitado é inválido. Por favor, repita o processo de geração do mesmo.</p>
        [% else: %]
            <i class="fa-solid fa-envelope-circle-check"></i>
            <h1>E-mail confirmado com sucesso</h1>
            <p>E-mail confirmado com sucesso. Agora você já pode fazer login</p>
        <button
                onclick="window.location.href = '/login'"
        >
            Ir para a página de Login
        </button>
        [% endif %]
    </form>
</section>