<!DOCTYPE html>
<html>
<head>
  <title>Exemplo de SPA com Vue Router</title>
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-router@3.5.2/dist/vue-router.min.js"></script>
</head>
<body>
  <div id="app">
    <router-link to="/pagina1">Página 1</router-link> |
    <router-link to="/pagina2">Página 2</router-link>

    <router-view></router-view>
  </div>

  <script>
    const Pagina1 = { template: '<div>Página 1</div>' };
    const Pagina2 = { template: '<div>Página 2</div>' };

    const routes = [
      { path: '/pagina1', component: Pagina1 },
      { path: '/pagina2', component: Pagina2 }
    ];

    const router = new VueRouter({
      routes
    });

    const app = new Vue({
      router
    }).$mount('#app');
  </script>
</body>
</html>
